<!DOCTYPE html>
<html lang="ko" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme"
      data-layout="vertical" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout}">

<th:block layout:fragment="content">
    <body>
    <div class="body-wrapper">
        <div class="container-fluid">
            <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
                <div class="card-body px-4 py-3">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h4 class="fw-semibold mb-8">회원 목록 Page</h4>
                        </div>
                        <div class="col-3">
                            <div class="text-center mb-n5">
                                <img
                                        src="../assets/images/breadcrumb/ChatBc.png"
                                        alt=""
                                        class="img-fluid mb-n4"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-register" role="tabpanel"
                     aria-labelledby="pills-register-tab" tabindex="0">
                    <div class="widget-content searchable-container list">
                        <div class="card card-body">
                            <div class="table-responsive">
                                <h5 class="card-title fw-semibold">회원 목록</h5>
                                <table id="organizationTable" class="datatable">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>email</th>
                                        <th>role</th>
                                        <th>state</th>
                                        <th>lastLoginDateTime</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="member : ${memberList}">
                                        <td th:text="${member.getId()}">Id</td>
                                        <td th:text="${member.getEmail()}">email</td>
                                        <td th:text="${member.getRole()}">role</td>
                                        <td th:text="${member.getState()}">state</td>
                                        <td th:text="${member.getLastLoginDateTime()}">lastLoginDateTime</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </body>
</th:block>

</html>