<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link
  rel="shortcut icon"
  type="image/png"
  href="/assets/images/logos/databo3-load.jpg"
/>

<link rel="stylesheet" href="/assets/css/styles.css" />

  <title>databo3 login</title>
</head>

<body>
  <div id="main-wrapper">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
            <div class="card mb-0">
              <div class="card-body">
                <a class="text-nowrap logo-img text-center d-block mb-5 w-100">
                    <img src="../assets/images/logos/databo3-logo.jpg" class="dark-logo" alt="Logo-Dark" width="150px" height="auto"/>
                </a>
                <div class="row">
                  <div class="col-6 mb-2 mb-sm-0">
                    <a class="btn text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8"
                       href="oauth/github" role="button">
                      <img src="../assets/images/svgs/github-icon.svg" alt="" class="img-fluid me-2" width="18" height="18">
                      <span class="flex-shrink-0">with GitHub</span>
                    </a>
                  </div>
                  <div class="col-6">
                    <a class="btn text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8"
                       href="oauth/payco" role="button">
                      <img src="../assets/images/svgs/payco-icon.png" alt="" class="img-fluid me-2" width="18" height="18">
                      <span class="flex-shrink-0">with PAYCO</span>
                    </a>
                  </div>
                </div>
                <div class="position-relative text-center my-4">
                  <p class="mb-0 fs-4 px-3 d-inline-block bg-body text-dark z-index-5 position-relative">or sign in with</p>
                  <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                </div>
                <form th:action="@{/login}" method="post">
                  <div class="mb-3">
                    <label for="id" class="form-label">Username</label>
                    <input type="text" class="form-control" id="id" name="id" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <a class="text-primary fw-medium" href="/pre_login/searchPassword">Forgot Password?</a>
                  </div>
                  <button class="btn btn-primary w-100 py-8 mb-4 rounded-2" type="submit">로그인</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-medium">New to databo3?</p>
                    <a class="text-primary fw-medium ms-2" href="/pre_login/register">Create an account</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-transparent sidebartoggler"></div>
  <!-- Import Js Files -->
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/simplebar/dist/simplebar.min.js"></script>
<script src="/assets/js/theme/app.init.js"></script>
<script src="/assets/js/theme/theme.js"></script>
<script src="/assets/js/theme/app.min.js"></script>
<script src="/assets/js/theme/sidebarmenu.js"></script>

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>