<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block th:fragment="aside">
    <div class="preloader">
        <img src="../assets/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <aside class="left-sidebar with-vertical">
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="/" class="text-nowrap logo-img">
                    <img
                            src="/assets/images/logos/databo3-owner-logo.png"
                            class="dark-logo"
                            alt="Logo-Dark"
                            width="130px" height="auto"
                    />
                </a>
                <a
                        href="javascript:void(0)"
                        class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none"
                >
                    <i class="ti ti-x"></i>
                </a>
            </div>

            <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Menu</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/dashboard" aria-expanded="false">
                            <span>
<!--                                아이콘 나중에 찾아서 해야함-->
                                <i class="ti ti-dashboard"></i>
                            </span>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/notice" aria-expanded="false">
                            <span>
                              <i class="ti ti-list-check"></i>
                            </span>
                            <span class="hide-menu">SensorList</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/temperature" aria-expanded="false">
                            <span>
                              <i class="ti ti-temperature"></i>
                            </span>
                            <span class="hide-menu">Temperature</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/humidity" aria-expanded="false">
                            <span>
                              <i class="ti ti-droplet-half-2"></i>
                            </span>
                            <span class="hide-menu">Humidity</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/co2" aria-expanded="false">
                            <span>
                              <i class="ti ti-wind"></i>
                            </span>
                            <span class="hide-menu">CO2</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/power" aria-expanded="false">
                            <span>
                              <i class="ti ti-circuit-resistor"></i>
                            </span>
                            <span class="hide-menu">Power</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/areaPeople" aria-expanded="false">
                            <span>
                              <i class="ti ti-users"></i>
                            </span>
                            <span class="hide-menu">Area People</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/setting" aria-expanded="false">
                            <span>
                              <i class="ti ti-settings"></i>
                            </span>
                            <span class="hide-menu">Setting</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/myPage" aria-expanded="false">
                            <span>
                              <i class="ti ti-man"></i>
                            </span>
                            <span class="hide-menu">MyPage</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/battery" aria-expanded="false">
                            <span>
                              <i class="ti ti-battery-3"></i>
                            </span>
                            <span class="hide-menu">Battery</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/error" aria-expanded="false">
                            <span>
                              <i class="ti ti-bug"></i>
                            </span>
                            <span class="hide-menu">Error</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="fixed-profile p-3 mx-4 mb-2 bg-secondary-subtle rounded mt-3">
                <div class="hstack gap-3">
                    <div class="john-img">
                        <img
                                src="../assets/images/profile/user-1.jpg"
                                class="rounded-circle"
                                width="40"
                                height="40"
                                alt=""
                        />
                    </div>
                    <div class="john-title">
                        <h6 class="mb-0 fs-4 fw-semibold">Mathew</h6>
                        <span class="fs-2">Designer</span>
                    </div>
                    <a
                            class="border-0 bg-transparent text-primary ms-auto"
                            tabindex="0"
                            type="button"
                            aria-label="logout"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-title="logout"
                            href="/logout"
                    >
                        <i class="ti ti-power fs-6"></i>
                    </a>
                </div>
            </div>
        </div>
    </aside>
</th:block>
</html>