<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="aside">
    <div class="preloader">
        <img src="/assets/images/logos/databo3-load.jpg" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <aside class="left-sidebar with-vertical">
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="/" class="text-nowrap logo-img">
                    <img
                            src="/assets/images/logos/databo3-owner-logo.png"
                            class="dark-logo"
                            alt="Logo-Dark"
                            width="130px" height="auto"
                    />
                </a>
                <a
                        href="javascript:void(0)"
                        class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none"
                >
                    <i class="ti ti-x"></i>
                </a>
            </div>

            <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Menu</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/notifications" aria-expanded="false">
                            <span>
                                <i class="ti ti-notification"></i>
                            </span>
                            <span class="hide-menu">notification</span>
                        </a>
                    </li>
<!--                    <li class="sidebar-item">-->
<!--                        <a class="sidebar-link" href="/owner/sensor-list" aria-expanded="false">-->
<!--                            <span>-->
<!--                              <i class="ti ti-list-check"></i>-->
<!--                            </span>-->
<!--                            <span class="hide-menu">SensorList</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="sidebar-item">
                        <form id="temperatureForm" action="/owner/sensor-page" method="get">
                            <input type="hidden" name="sensorType" value="1">
                            <input type="hidden" name="type" value="temperature">
                            <a class="sidebar-link" href="#" onclick="document.getElementById('temperatureForm').submit();" aria-expanded="false">
                                <i class="ti ti-temperature"></i>
                                <span class="hide-menu">Temperature</span>
                            </a>
                        </form>
                    </li>
                    <li class="sidebar-item">
                        <form id="humidityForm" action="/owner/sensor-page" method="get">
                            <input type="hidden" name="sensorType" value="2">
                            <input type="hidden" name="type" value="humidity">
                            <a class="sidebar-link" href="#" onclick="document.getElementById('humidityForm').submit();" aria-expanded="false">
                                <i class="ti ti-droplet-half-2"></i>
                                <span class="hide-menu">Humidity</span>
                            </a>
                        </form>
                    </li>
                    <li class="sidebar-item">
                        <form id="CO2Form" action="/owner/sensor-page" method="get">
                            <input type="hidden" name="sensorType" value="3">
                            <input type="hidden" name="type" value="co2">
                            <a class="sidebar-link" href="#" onclick="document.getElementById('CO2Form').submit();" aria-expanded="false">
                                <i class="ti ti-wind"></i>
                                <span class="hide-menu">CO2</span>
                            </a>
                        </form>
                    </li>
<!--                    <li class="sidebar-item">-->
<!--                        <a class="sidebar-link" href="/owner/power" aria-expanded="false">-->
<!--                            <span>-->
<!--                              <i class="ti ti-circuit-resistor"></i>-->
<!--                            </span>-->
<!--                            <span class="hide-menu">Power</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="sidebar-item">-->
<!--                        <a class="sidebar-link" href="/owner/area-people" aria-expanded="false">-->
<!--                            <span>-->
<!--                              <i class="ti ti-users"></i>-->
<!--                            </span>-->
<!--                            <span class="hide-menu">Area People</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/battery-level" aria-expanded="false">
                            <span>
                              <i class="ti ti-battery-3"></i>
                            </span>
                            <span class="hide-menu">Battery</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/organization-list" aria-expanded="false">
                            <span>
                              <i class="ti ti-home-search"></i>
                            </span>
                            <span class="hide-menu">조직 목록/관리</span>
                        </a>
                    </li>
<!--                    <li class="sidebar-item">-->
<!--                        <a class="sidebar-link" href="/owner/setting" aria-expanded="false">-->
<!--                            <span>-->
<!--                              <i class="ti ti-settings"></i>-->
<!--                            </span>-->
<!--                            <span class="hide-menu">Setting</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/device-log" aria-expanded="false">
                            <span>
                              <i class="ti ti-clipboard-list"></i>
                            </span>
                            <span class="hide-menu">센서 장비 목록</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/my-page" aria-expanded="false">
                            <span>
                              <i class="ti ti-man"></i>
                            </span>
                            <span class="hide-menu">MyPage</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/owner/error" aria-expanded="false">
                            <span>
                              <i class="ti ti-bug"></i>
                            </span>
                            <span class="hide-menu">Error</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="fixed-profile p-3 mx-4 mb-2 bg-secondary-subtle rounded mt-3">
                <div class="hstack gap-3">
                    <div class="john-img">
                        <img
                                src="../assets/images/profile/user-1.jpg"
                                class="rounded-circle"
                                width="40"
                                height="40"
                                alt=""
                        />
                    </div>
                    <div class="john-title">
                        <h5 class="mb-1 fs-3"><span sec:authentication="name"></span> </h5>
                        <span class="mb-1 d-block">
                            <span>OWNER</span>
                        </span>
                    </div>
                    <a
                            class="border-0 bg-transparent text-primary ms-auto"
                            tabindex="0"
                            type="button"
                            aria-label="logout"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-title="logout"
                            href="/logout"
                    >
                        <i class="ti ti-power fs-6"></i>
                    </a>
                </div>
            </div>
        </div>
    </aside>
</th:block>
</html>