<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/blue_layout}" lang="ko">

<th:block layout:fragment="content">
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                            <form th:action="@{/login}" method="post">

                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="id" name="id" type="text" placeholder="Id" />
                                                    <label for="id">Id</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="password" name="password" type="password" placeholder="Password" />
                                                    <label for="password">Password</label>
                                                </div>
    <!--                                            <div class="form-check mb-3">-->
    <!--                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />-->
    <!--                                                <label class="form-check-label" for="inputRememberPassword">Remember Password</label>-->
    <!--                                            </div>-->
                                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                    <a class="small" href="/member/password">Forgot Password?</a>

                                                    <button class="btn btn-primary" type="submit">Login</button>
                                                </div>

                                                <div class="form-floating text-center mt-3 mb-3">
                                                    <a class="button button--social-login button--github" href="oauth/github"><i class="icon fa-brands fa-github"></i>GitHub로 로그인</a>
                                                    <a class="button button--social-login button--payco" href="oauth/payco"><i class="icon fa-solid fa-p"></i>PAYCO로 로그인</a>
                                                </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="register">회원가입</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</th:block>

</html>
