<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/blue_layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Outstanding</title>
</head>
<th:block layout:fragment="content">
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">승인 대기 중</h3></div>
                                <div class="card-body">
                                    <h5 class="text-center font-weight-light my-4">현재 회원님은 승인 대기 상태 입니다</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</th:block>
</html>