<!DOCTYPE html>
<html lang="ko" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme"
      data-layout="vertical" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/owner_layout}">

<th:block layout:fragment="content">
  <body>
  <input type="hidden" id="access_token" th:value="${get_access_token}"/>
  <div class="body-wrapper">
    <div class="container-fluid">
      <div class="card overflow-hidden chat-application">
        <div class="d-flex w-100">

            <div class="text-right mt-3 mb-3 d-fixed">
            </div>

            <div class="main"> <!-- 그래프 영역 4개 -->
              <div th:each="dashboardConfig : ${dashboardConfigList}">
                <h4 th:text="${dashboardConfig.organization + dashboardConfig.place + dashboardConfig.sensorType + dashboardConfig.sensorSn}"></h4>
                <h4 th:text="${dashboardConfig.sequenceNumber + dashboardConfig.chartType}"></h4>
                <div class="row">
                  <div class="box mt-4">
                    <div th:if="${dashboardConfig.chartType == 'REAL_TIME'}" id="realTimeGauge" style="min-height: 365px;"></div>
                    <div th:if="${dashboardConfig.chartType == 'ONE_HOUR'}" id="hourChart" style="min-height: 365px;"></div>
                    <div th:if="${dashboardConfig.chartType == 'DAILY'}" id="dayChart" style="min-height: 365px;"></div>
                    <div th:if="${dashboardConfig.chartType == 'WEEKLY' || dashboardConfig.sensorType != 'co2'}" id="weekChart" style="min-height: 365px;"></div>
                    <div th:if="${dashboardConfig.chartType == 'REAL_TIME' || dashboardConfig.sensorType == 'co2'}" id="weekCo2Chart" style="min-height: 365px;"></div>
                  </div>
                </div>
                <div class="row mt-5">
                </div>

              </div>



            </div>

        </div>
      </div>
    </div>
  </div>



  </body>
</th:block>

</html>
<!--              <div class="row">-->
<!--                <div class="col-xl-12">-->
<!--                  <div th:if="${type == 'temperature' || type == 'humidity'}" class="box mt-4">-->
<!--                    <div id="weekChart"></div>-->
<!--                  </div>-->
<!--                  <div th:if="${type} == 'co2'" class="box mt-4">-->
<!--                    <div id="weekCo2Chart"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->