<!DOCTYPE html>
<html lang="ko" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme"
      data-layout="vertical" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/owner_layout}">

<th:block layout:fragment="content">
  <body>


  <div class="body-wrapper">
    <div class="container-fluid">
      <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-4 py-3">
          <div class="row align-items-center">
            <div class="col-9">
              <h4 class="fw-semibold mb-8">Owner Page</h4>
            </div>
            <div class="col-3">
              <div class="text-center mb-n5">
                <img
                        src="../assets/images/breadcrumb/ChatBc.png"
                        alt=""
                        class="img-fluid mb-n4"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card overflow-hidden">
        <div class="card-body p-0">
          <img src="../assets/images/backgrounds/profilebg.jpg" alt="" class="img-fluid">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1 order-2">
            </div>
            <div class="col-lg-4 mt-n3 order-lg-2 order-1">
              <div class="mt-n5">
                <div class="d-flex align-items-center justify-content-center mb-2">
                  <div class="d-flex align-items-center justify-content-center round-110">
                    <div
                            class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden round-100">
                      <img src="../assets/images/profile/user-1.jpg" alt="" class="w-100 h-100">
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <h5 class="fs-5 mb-0 fw-semibold">Mathew Anderson</h5>
                  <p class="mb-0 fs-4">Owner</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-last">
            </div>
          </div>
        </div>
      </div>

          <div class="row">
            <div class="col-lg-6 d-flex align-items-stretch">
              <div class="card w-100 position-relative overflow-hidden">
                <div class="card-body p-4">
                  <h5 class="card-title fw-semibold">Change Profile</h5>
                  <p class="card-subtitle mb-4">Change your profile picture from here</p>
                  <div class="text-center">
                    <img src="../assets/images/profile/user-1.jpg" alt=""
                         class="img-fluid rounded-circle" width="120" height="120">
                    <div class="d-flex align-items-center justify-content-center my-4 gap-6">
                      <button class="btn btn-primary">Upload</button>
                      <button class="btn bg-danger-subtle text-danger">Reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-stretch">
              <div class="card w-100 position-relative overflow-hidden">
                <div class="card-body p-4">
                  <h5 class="card-title fw-semibold">Change Password</h5>
                  <p class="card-subtitle mb-4">To change your password please confirm here</p>
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Current Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1"
                             value="">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword2" class="form-label">New Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword2"
                             value="">
                    </div>
                    <div>
                      <label for="exampleInputPassword3" class="form-label">Confirm Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword3"
                             value="">
                    </div>
                    <div class="d-flex align-items-center justify-content-center my-4 gap-6">
                      <button class="btn btn-primary">Save</button>
                      <button class="btn bg-danger-subtle text-danger">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
  </body>
</th:block>

</html>