<!DOCTYPE html>
<html lang="ko" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme"
      data-layout="vertical" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/owner_layout}">

<th:block layout:fragment="content">
    <body>

    <div class="body-wrapper">
        <div class="container-fluid">
            <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
                <div class="card-body px-4 py-3">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h4 class="fw-semibold mb-8">조직 관리</h4>
                        </div>
                        <div class="col-3">
                            <div class="text-center mb-n5">
                                <img
                                        src="/assets/images/breadcrumb/ChatBc.png"
                                        alt=""
                                        class="img-fluid mb-n4"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <ul class="nav nav-pills user-profile-tab" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-4"
                                id="pills-information-tab" data-bs-toggle="pill" data-bs-target="#pills-information" type="button" role="tab"
                                aria-controls="pills-information" aria-selected="true">
                            <i class="ti ti-info-circle me-2 fs-6"></i>
                            <span class="d-none d-md-block">메인</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-4"
                                id="pills-notification-tab" data-bs-toggle="pill" data-bs-target="#pills-notifications" type="button"
                                role="tab" aria-controls="pills-notifications" aria-selected="false">
                            <i class="ti ti-router me-2 fs-6"></i>
                            <span class="d-none d-md-block">센서/디바이스 리스트</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-4"
                                id="pills-settings-tab" data-bs-toggle="pill" data-bs-target="#pills-settings" type="button"
                                role="tab" aria-controls="pills-settings" aria-selected="false">
                            <i class="ti ti-list me-2 fs-6"></i>
                            <span class="d-none d-md-block">조직 멤버 리스트</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-4"
                                id="pills-place-tab" data-bs-toggle="pill" data-bs-target="#pills-place" type="button"
                                role="tab" aria-controls="pills-place" aria-selected="false">
                            <i class="ti ti-home me-2 fs-6"></i>
                            <span class="d-none d-md-block">장소 리스트</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-4"
                                id="pills-bills-tab" data-bs-toggle="pill" data-bs-target="#pills-bills" type="button" role="tab"
                                aria-controls="pills-bills" aria-selected="false">
                            <i class="ti ti-user-plus me-2 fs-6"></i>
                            <span class="d-none d-md-block">뷰어 조직 신청 요청</span>
                        </button>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-information" role="tabpanel"
                             aria-labelledby="pills-information-tab" tabindex="0">
                            <div class="card overflow-hidden">
                                <div class="card-body p-0">
                                    <img src="/assets/images/backgrounds/profilebg.jpg" alt="" class="img-fluid">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 order-lg-1 order-2">
                                            <div class="d-flex align-items-center justify-content-around m-4">
                                                <div class="text-center">
                                                    <i class="ti ti-user-check fs-6 d-block mb-2"></i>
                                                    <h4 class="mb-0 fw-semibold lh-1" th:text="${ownerMemberAmount}"></h4>
                                                    <p class="mb-0 fs-4">오너</p>
                                                </div>
                                                <div class="text-center">
                                                    <i class="ti ti-eye fs-6 d-block mb-2"></i>
                                                    <h4 class="mb-0 fw-semibold lh-1" th:text="${viewerMemberAmount}"></h4>
                                                    <p class="mb-0 fs-4">뷰어</p>
                                                </div>
                                                <div class="text-center">
                                                    <i class="ti ti-router fs-6 d-block mb-2"></i>
                                                    <h4 class="mb-0 fw-semibold lh-1" th:text="${sensorAmount}"></h4>
                                                    <p class="mb-0 fs-4">센서</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-n3 order-lg-2 order-1">
                                            <div class="mt-n5">
                                                <div class="text-center">
                                                    <h5 class="fs-10 mb-0 fw-semibold" th:text="${organization.getOrganizationName()}"></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 order-last">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card w-100 position-relative overflow-hidden mb-0">
                                    <div class="card-body p-4">
                                        <h5 class="card-title fw-semibold">게이트웨이, 컨트롤러</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <div>
                                                    <label class="form-label">게이트웨이</label>
                                                    <a th:text="${organization.getGatewaySn()}" />
                                                </div>
                                                <div>
                                                    <label  class="form-label">컨트롤러</label>
                                                    <a th:text="${organization.getControllerSn()}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-notifications" role="tabpanel"
                             aria-labelledby="pills-notifications-tab" tabindex="0">
                            <div class="col-12">
                                <div class="card w-100 position-relative overflow-hidden mb-0">
                                    <div class="card-body p-4">
                                        <h5 class="card-title fw-semibold">센서 목록</h5>
                                        <table id="sensorTable" class="datatable">
                                            <thead>
                                            <tr>
                                                <th>센서 시리얼 넘버</th>
                                                <th>센서 이름</th>
                                                <th>센서 장소</th>
                                                <th>센서 타입</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="sensor: ${sensorTypeMappingList}">
                                                <td th:text="${sensor.getSensor().getSensorSn()}">SensorSn</td>
                                                <td th:text="${sensor.getSensor().getSensorName()}">SensorName</td>
                                                <td th:text="${sensor.getSensor().getPlace().getPlaceName()}">SensorPlace</td>
                                                <td th:text="${sensor.getSensorType().getSensorType()}">SensorType</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card w-100 position-relative overflow-hidden mb-0">
                                    <div class="card-body p-4">
                                        <h5 class="card-title fw-semibold">디바이스 목록</h5>
                                        <table id="deviceTable" class="datatable">
                                            <thead>
                                            <tr>
                                                <th>디바이스 시리얼 넘버</th>
                                                <th>디바이스 이름</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="device: ${deviceList}">
                                                <td th:text="${device.getDeviceSn()}">DeviceSn</td>
                                                <td th:text="${device.getDeviceName()}">DeviceName</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab"
                             tabindex="0">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold">오너 목록</h5>
                                <table id="ownerTable" class="datatable">
                                    <thead>
                                    <tr>
                                        <th>아이디</th>
                                        <th>이메일</th>
                                        <th>역할</th>
                                        <th>상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="owner: ${ownerMemberList}">
                                        <td th:text="${owner.getMemberId()}">ownerId</td>
                                        <td th:text="${owner.getMemberEmail()}">ownerEmail</td>
                                        <td th:text="${owner.getRoleName()}">ownerRole</td>
                                        <td th:text="${owner.getState()}">ownerState</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <h5 class="card-title fw-semibold">뷰어 목록</h5>
                                <table id="viewerTable" class="datatable">
                                    <thead>
                                    <tr>
                                        <th>아이디</th>
                                        <th>이메일</th>
                                        <th>역할</th>
                                        <th>상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="viewer: ${viewerMemberList}">
                                        <td th:text="${viewer.getMemberId()}">viewerId</td>
                                        <td th:text="${viewer.getMemberEmail()}">viewerEmail</td>
                                        <td th:text="${viewer.getRoleName()}">viewerRole</td>
                                        <td th:text="${viewer.getState()}">viewerState</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card overflow-hidden">
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-place" role="tabpanel"
                             aria-labelledby="pills-place-tab" tabindex="0">
                            <div class="col-12">
                                <div class="card w-100 position-relative overflow-hidden mb-0">
                                    <div class="card-body p-4">
                                        <h5 class="card-title fw-semibold">장소 목록</h5>
                                        <table id="placeTable" class="datatable">
                                            <thead>
                                            <tr>
                                                <th>장소 이름</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="place: ${placeList}">
                                                <td th:text="${place.getPlaceName()}">organizationName</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-bills" role="tabpanel" aria-labelledby="pills-bills-tab"
                             tabindex="0">
                            <div class="widget-content searchable-container list">
                                <div class="card card-body">
                                    <div class="table-responsive">
                                        <h5 class="card-title fw-semibold">뷰어 부서 신청 목록</h5>
                                        <table id="ownerRequestTable" class="datatable">
                                            <thead>
                                            <tr>
                                                <th>아이디</th>
                                                <th>이메일</th>
                                                <th>역할</th>
                                                <th>상태</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="viewerRequest: ${viewerRequestMemberList}">
                                                <td th:text="${viewerRequest.getMemberId()}">ownerId</td>
                                                <td th:text="${viewerRequest.getMemberEmail()}">ownerEmail</td>
                                                <td th:text="${viewerRequest.getRoleName()}">ownerRole</td>
                                                <td th:text="${viewerRequest.getState()}">ownerState</td>
                                                <td>
                                                    <form action=/owner/modifyMemberState method="post">
                                                        <input type="hidden" name="organizationId" th:value="${organization.getOrganizationId()}"/>
                                                        <input type="hidden" name="memberId" th:value="${viewerRequest.getMemberId()}"/>
                                                        <button class="btn btn-success" type="submit">수락</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</th:block>

</html>