<!DOCTYPE html>
<html lang="ko" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme"
      data-layout="vertical" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/owner_layout}">

<th:block layout:fragment="content">
    <body>
        <div class="body-wrapper">
            <section class="bg-light">
                <section class="container">
                    <div class="card">
                        <aside id="sensor-nav-aside">
                            <div>
                                <nav class="sidebar-nav scrollable-dropdown">
                                    <ul class="nav flex-column">
                                        <li>
                                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
<!--                                            <span class="hide-menu" th:text="${organization.getOrganizationName()}"></span>-->
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </aside>
                    </div>
                </section>
                <section>

                </section>
            </section>
        </div>
    </body>
</th:block>

</html>